.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 600px;
  position: relative;
  background-color: $dark-purple;

  @include mobile-only {
    justify-content: center;
    height: 950px;
  }

  @include tablet-only {
    justify-content: center;
    height: 1000px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    height: auto;
    padding: $padding-lg;
    margin-left: $margin-xxl;
    position: absolute;
    z-index: 1;
    background-color: $darker-grey;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
    animation: leftappear 1200ms ease-in-out;

    @include mobile-only {
      width: 100%;
      margin-left: 0;
      margin-top: $margin-xxl;
      padding-top: $padding-xxl;
      background-color: transparent;
      border-radius: none;
      box-shadow: none;
      animation: none;
    }

    @include tablet-only {
      width: 60%;
      margin-left: 0;
      margin-top: $margin-xxl;
      animation: none;
    }

    @include hd-screen-only {
      width: 30%;
      margin-left: 20%;
    }

    &__title {
      position: relative;
      margin: 0;
      padding-left: $padding-sm;
      padding-right: $padding-sm;
      padding-bottom: $padding-sm;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.1rem;
        background-color: $mint-green;
        left: 0;
        bottom: 0;
      }
    }
  }

  &__portrait {
    position: absolute;
    right: 0%;
    z-index: 1;
    height: 350px;
    width: 350px;
    margin-right: $margin-xxl;
    border-radius: 50%;
    border: 10px solid $mint-green;
    box-shadow: 0px 10px 80px -10px rgba(0, 0, 0, 0.5);
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    animation: rightappear 1200ms ease-in-out;

    @include mobile-only {
      top: 10%;
      height: 200px;
      width: 200px;
      margin-top: $margin-xl;
      left: 50%;
      border-radius: 50%;
      border: 10px solid $mint-green;
      box-shadow: 0px 10px 80px -10px rgba(0, 0, 0, 0.5);
      transform: translate(-50%, -50%);
      animation: none;
    }

    @include tablet-only {
      top: 10%;
      height: 250px;
      width: 250px;
      margin-top: $margin-xl;
      left: 50%;
      border-radius: 50%;
      border: 10px solid $mint-green;
      box-shadow: 0px 10px 80px -10px rgba(0, 0, 0, 0.5);
      transform: translate(-50%, -50%);
      animation: none;
    }

    @include hd-screen-only {
      margin-right: 20%;
    }

    &:hover {
      transform: rotate(15deg);

      @include mobile-only {
        transform: translate(-50%, -50%);
      }

      @include tablet-only {
        transform: translate(-50%, -50%)
      }
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 600px;
    filter: saturate(0) opacity(0.2);

    @include mobile-only {
      height: 950px;
    }

    @include tablet-only {
      height: 1000px;
    }
  }
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: $padding-xl;
  padding-bottom: $padding-xl;
  background-color: $darker-grey;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: $margin-xl;

    @include mobile-only {
      flex-direction: column;
    }

    @include tablet-only {
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: $margin-base;
    padding: $padding-lg;
    background-color: $dark-purple;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;

    &:hover {
      background-color: lighten($light-purple, 2%);
    }

    @include mobile-only {
      width: 100%;
    }

    @include tablet-only {
      width: 80%;
    }

    @include hd-screen-only {
      width: 30%;
    }

    &__title {
      display: flex;
      align-items: center;
    }

    ul {
      //margin-left: -1.5em;
      border-left: solid 2px $mint-green;
    }

    li {
      color: $white;
      margin-bottom: 1em;
      margin-top: 1em;
    }
  }
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: $padding-xl;
  padding-bottom: $padding-xl;
  background-color: $dark-purple;

  &__title {
    display: flex;
    align-items: center;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    width: 50%;
    height: auto;
    margin-top: $margin-xl;
    margin-bottom: $margin-xl;

    @include mobile-only {
      display: flex;
      flex-direction: column;
      width: 90%;
    }

    @include tablet-only {
      width: 90%;
    }

    @include hd-screen-only {
      width: 40%;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    height:   auto;
    padding: $padding-lg;
    background-color: $darker-grey;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;

    &:hover {
      background-color: lighten($darker-grey, 2%);
      transform: scale(1.1);
    }

    h3 {
      color: $mint-green;
    }

    ul {
      margin-left: -2em;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white;
      margin-bottom: 1em;
      margin-top: 1em;


      img {
        height: 50px;
        width: 50px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    width: 80%;

    p {
      text-align: center;
    }
  }
}
