.aboutitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  background-color: $dark-purple;

  &__textcontain {
    width: 60%;
    margin-left: 4rem;
    animation: titleappear 1200ms ease-in-out; // Title animation

    @include mobile-only {
      width: 100%;
      margin-left: 0;
      padding: $padding-lg;
      text-align: start;
    }
  }

  &__randomword {
    animation: randomwords 5000ms ease-in-out infinite; // Animation for random words
  }

  &__img {
    height: 350px;
    display: flex;

    @include mobile-only {
      display: none;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: $padding-lg;
  padding-bottom: $padding-lg;
  background-color: $darker-grey;

  &__subcontain {
    display: flex;
    justify-content: center;
  }

  &__subtitle {
    position: relative;
    padding-left: $padding-sm;
    padding-right: $padding-sm;
    padding-bottom: $padding-sm;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.1rem;
      background-color: $mint-green;
      left: 0;
      bottom: 0;
    }
  }

  &__textcontain {
    width: 40%;
    text-align: center;
    padding-bottom: $padding-lg;

    @include mobile-only {
      width: 80%;
    }

    @include tablet-only {
      width: 60%;
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  padding-top: $padding-lg;
  padding-bottom: $padding-lg;
  background-color: $dark-purple;
}
