.intro {
  &__projectsimg {
    height: 500px;
    position: absolute;
    margin-right: $margin-xxl;
    right: 0;
    z-index: 1;
    opacity: 0.8;
    animation: rightappear 1200ms ease-in-out;
    transition: 0.5s ease-in-out;

    &:hover {
        opacity: 1;
        transform: scale(1.1);
    }

    @include mobile-only {
        display: none;
    }

    @include tablet-only {
        display: none;
    }

    @include hd-screen-only {
        margin-right: 20%;
      }
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: $padding-xl;
  padding-bottom: $padding-xl;
  background-color: $darker-grey;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: $margin-xl;
    margin-bottom: $margin-xl;

    @include mobile-only {
      width: 90%;
    }

    @include tablet-only {
      width: 90%;
    }

    @include hd-screen-only {
      width: 40%;
    }
  }

  

}