// KEYFRAMES ------------------------------------------------------------------

// RANDOM WORDS -------------------------
@keyframes randomwords {
  0%,
  100% {
    opacity: 0;
  }

  25%,
  75% {
    opacity: 0, 5;
  }

  50% {
    opacity: 1;
  }
}

// TITLE ANIMATION -----------------------
@keyframes topappear {
  0% {
    position: relative;
    top: -1000px;
  }

  50% {
    position: relative;
    top: 60px;
  }

  60% {
    position: relative;
    top: 20px;
  }

  70% {
    position: relative;
    top: -20px;
  }

  90% {
    position: relative;
    top: 20;
  }

  100% {
    position: relative;
    top: 0;
  }
}

// OTHER ANIMATIONS -------------------------------------------------------------

@keyframes leftappear{
  0% {
    position: absolute;
    left: -1000px;
  }

  50% {
    position: absolute;
    left: 60px;
  }

  60% {
    position: absolute;
    left: 20px;
  }

  70% {
    position: absolute;
    left: -20px;
  }

  90% {
    position: absolute;
    left: 20;
  }

  100% {
    position: absolute;
    left: 0;
  }
}

@keyframes rightappear{
  0% {
    position: absolute;
    right: -1000px;
  }

  50% {
    position: absolute;
    right: 60px;
  }

  60% {
    position: absolute;
    right: 20px;
  }

  70% {
    position: absolute;
    right: -20px;
  }

  90% {
    position: absolute;
    right: 20;
  }

  100% {
    position: absolute;
    right: 0;
  }
}

// REAVEL EFFECT -------------------
.reveal {
  opacity: 0;
  transform: scale(0);
}

.reveal-visible {
  opacity: 1;
  transform: scale(1);
  transition: 1s ease-in-out;
}
