/* COLORS */
$white: #FFFF;
$black: #0000;
$darker-grey: #191919;
$dark-grey: #595959;
$light-grey: #AAAAAA;
$mint-green: #00ffa6;
$dark-purple: #1D1425;

/* MARGINS & PADDINGS */
$margin-none: 0px;
$margin-sm: 5px;
$margin-base: 15px;
$margin-lg: 30px;
$margin-xl: 50px;
$margin-xxl: 100px;

$padding-none: 0px;
$padding-xxl: 100px;
$padding-xl: 50px;
$padding-lg: 30px;
$padding-base: 15px;
$padding-sm: 5px;


