// FIGURES & FIGCAPTIONS ---------------------------------------
.services__fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  margin-left: $margin-lg;
  margin-right: $margin-lg;
  padding: $padding-base;
  background-color: $light-purple;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;

  @include mobile-only {
    margin-left: $margin-s;
    margin-right: $margin-s;
    padding: $padding-sm;
    background-color: $dark-purple;
    border-radius: none;
    box-shadow: none;
  }

  @include tablet-only {
    margin-left: $margin-base;
    margin-right: $margin-base;
    padding: $padding-s;
  }

  &:hover {
    background-color: lighten($light-purple, 2%);
    @include mobile-only {
      background-color: $dark-purple;
    }
    .servicesicon {
      filter: drop-shadow(0px 0px 10px $mint-green);
    }
  }

  h3 {
    @include cool-gradiant;
    font-size: medium;
    font-weight: 300;

    @include mobile-only {
      font-size: smaller;
    }
  }

  .servicesicon {
    transition: 0.5s ease-in-out;
  }
}

.projects__fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 30%;
  position: relative;
  margin-left: $margin-lg;
  margin-right: $margin-lg;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;

  @include mobile-only {
    height: 142px;
    width: 100%;
  }

  &:hover {
    .projects__fig__img {
      transform: scale(1.5);
      filter: blur(2px);

      @include mobile-only {
        transform: none;
        filter: saturate(0) invert(90%) blur(2px);
      }
    }

    .projects__fig__caption {
      opacity: 0.9;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    object-fit: fill;
    transform: scale(1);
    transition: 0.5s ease-in-out;

    @include mobile-only {
      filter: saturate(0) invert(90%) blur(2px);
    }
  }

  &__caption {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: $dark-purple;
    transition: 0.5s ease-in-out;

    @include mobile-only {
      opacity: 0.9;
    }

    h3 {
      color: $white;
    }

    p {
      font-weight: 200;
    }
  }
}
