// FIGURES & FIGCAPTIONS ---------------------------------------
.services__fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  height: auto;
  margin-left: $margin-lg;
  margin-right: $margin-lg;
  padding: $padding-base;
  background-color: $light-purple;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;

  @include mobile-only {
    margin-left: $margin-s;
    margin-right: $margin-s;
    padding: $padding-sm;
    background-color: $dark-purple;
    border-radius: none;
    box-shadow: none;
  }

  @include tablet-only {
    margin-left: $margin-base;
    margin-right: $margin-base;
    padding: $padding-s;
  }

  &:hover {
    background-color: lighten($light-purple, 2%);
    @include mobile-only {
      background-color: $dark-purple;
    }
    .servicesicon {
      filter: drop-shadow(0px 0px 10px $mint-green);
    }
  }

  h3 {
    @include cool-gradiant;
    font-size: medium;
    font-weight: 300;

    @include mobile-only {
      font-size: smaller;
    }
  }

  .servicesicon {
    transition: 0.5s ease-in-out;
  }
}

.projects__fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 30%;
  position: relative;
  margin-left: $margin-lg;
  margin-right: $margin-lg;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;

  @include mobile-only {
    height: 142px;
    width: 100%;
  }

  &:hover {
    .projects__fig__img {
      transform: scale(1.5);
      filter: blur(2px);

      @include mobile-only {
        transform: none;
        filter: saturate(0) invert(90%) blur(2px);
      }
    }

    .projects__fig__caption {
      opacity: 0.9;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    object-fit: fill;
    filter: contrast(80%);
    transform: scale(1);
    transition: 0.5s ease-in-out;

    @include mobile-only {
      filter: saturate(0) invert(90%) blur(2px);
    }
  }

  &__caption {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: $dark-purple;
    transition: 0.5s ease-in-out;

    @include mobile-only {
      opacity: 0.9;
    }

    h3 {
      color: $white;
    }

    p {
      font-weight: 200;
    }
  }
}

.portfolio__fig {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-self: flex-start;
  align-items: center;
  width: 90%;
  height: 400px;
  padding-left: 0px;
  padding-right: $padding-lg;
  padding-top: $padding-lg;
  padding-bottom: $padding-lg;
  margin: $margin-xl;
  background-color: $dark-purple;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;

  &--left {
    margin-right: auto;

    @include mobile-only {
      margin-right: $margin-xl;
    }

    @include tablet-only {
      margin-right: $margin-xl;
    }
  }

  &--right {
    margin-left: auto;
    flex-direction: row-reverse;
    padding-right: 0px;

    @include mobile-only {
      margin-right: $margin-xl;
    }

    @include tablet-only {
      margin-right: $margin-xl;
    }
  }

  @include mobile-only {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-right: 0px;
    padding-top: 0px;
    margin: $margin-lg;
  }

  @include tablet-only {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-right: 0px;
    padding-top: 0px;
    margin: $margin-lg;
  }

  &:hover {
    background-color: lighten($light-purple, 2%);

    .portfolio__fig__img {
      object-position: 50% 50%;
    }
  }

  &__img {
    object-fit: cover;
    object-position: 0% 50%;
    width: 30%;
    height: 400px;
    transition: 0.5s ease-in-out;

    @include mobile-only {
      object-position: 0% 0%;
      width: 100%;
      height: 200px;
    }

    @include tablet-only {
      object-position: 0% 50%;
      width: 100%;
      height: 200px;
    }
  }
}

.portfolio__caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: $margin-lg;
  margin-right: $margin-lg;

  &__title {
    display: flex;
    align-items: center;

    h2 {
      margin-right: $margin-base;
      color: $mint-green;
    }
  }

  &__subtitle {
    margin-top: 0;
    font-size: 0.9em;
    font-weight: 200;
  }

  &__icons {
    margin-top: $margin-s;
    margin-bottom: $margin-s;
  }

  &__description {
    line-height: 1.5em;
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: $margin-base;
    margin-bottom: $margin-base;
  }
}
