// FORMS ------------------------------------------------------------------------------
.formcontain {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  padding: $padding-lg;

  @include mobile-only {
    width: 80%;
    padding-left: $padding-sm;
    padding-right: $padding-sm;
  }

  @include tablet-only {
    width: 60%;
  }

  @include hd-screen-only {
    width: 20%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input,
    textarea {
      margin-bottom: $margin-base;
      padding: $padding-s;
      width: 100%;
      background-color: $white;
      border-radius: 5px;
      font-family: "Montserrat", arial, sans-serif;
      font-size: 1em;

      &:focus {
        outline-color: $light-purple;
      }
    }

    input {
      height: 40px;
    }

    textarea {
      height: 150px;
    }
  }

  #returnmessage {
    padding: $padding-lg;
    color: $white;
    text-align: center;
  }
}
