.navbar {
  position: sticky; // JS is not anymore neccesary for that
  z-index: 99; // Always over
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin: 0;
  padding-left: $padding-lg;
  padding-right: $padding-lg;
  background-color: $darker-grey;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);

  &__logo {
    width: 70px;
    height: 40px;
  }

  &__menu {
    list-style: none;
    margin: 0;
    justify-content: center;

    @include mobile-only {
      // Hamburger menu appears !
      position: fixed;
      z-index: 99;
      right: 0;
      top: 4rem;
      display: flex;
      flex-direction: column;
      background-color: $darker-grey;
      width: 100%;
      padding: 0;
      text-align: center;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);

      &.active {
        opacity: 1;
      }
    }

    &__link {
      position: relative;
      margin-left: $margin-lg;
      margin-right: $margin-lg;
      padding-left: $padding-sm;
      padding-right: $padding-sm;
      padding-bottom: $padding-sm;
      color: white;
      transition: 0.5s ease-in-out;

      @include mobile-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $padding-base;
        padding-bottom: $padding-base;
        color: white;
      }

      &::after {
        // Underline
        content: "";
        width: 100%;
        height: 0.1rem;
        background-color: $mint-green;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: 0.5s ease-in-out;

        @include mobile-only {
          // No underline in hamburger menu
          display: none;
        }
      }

      &:hover {
        color: $mint-green;
        filter: drop-shadow(0px 0px 10px $mint-green);

        &::after {
          // Underline visible on hover
          opacity: 1;
        }
      }
    }

    &__contact {
      display: none;

      @include mobile-only {
        display: block;
        padding-top: $padding-base;
        padding-bottom: $padding-base;
        color: $darker-grey;
        background-color: $mint-green;
        transition: 0.5s ease-in-out;

        &:hover {
          @include darker-hover($mint-green);
          color: $white;
        }
      }
    }
  }

  &__hamburger {
    // Hamburger menu
    display: none;

    @include mobile-only {
      // Displayed only in mobile version
      display: block;
      cursor: pointer;

      &__bar {
        display: block;
        width: 25px;
        height: 2px;
        margin: 8px auto;
        background-color: $white;
        transition: all 0.5s ease-in-out;
      }

      &.active {
        // Transform bars to a cross if menu is open
        :nth-child(2) {
          opacity: 0;
        }
        :nth-child(1) {
          transform: translateY(10px) rotate(45deg);
        }
        :nth-child(3) {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }
}
